---
import Footer from '../components/Footer.astro'
import aiHeadshot from '../images/ai_headshot.png'

interface Props {
    title: string,
    description: string,
}

const { title, description } = Astro.props
---
<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="title" content={title}>
    <meta property="og:title" content={title}>
    <meta property="twitter:title" content={title}>
    <meta name="author" content="Ben Isenstein">
    <meta name="description" content={description}>
    <meta property="og:description" content={description}>
    <meta property="twitter:description" content={description}>
    <meta property="og:locale" content="en_CA">
    <meta property="og:site_name" content="Ben Isenstein">
    <meta property="og:type" content="website">
    <meta property="og:image" content={aiHeadshot.src}>
    <meta property="twitter:image" content={aiHeadshot.src}>
    <meta property="og:url" content="https://benisenstein.me/">
    <meta property="twitter:url" content="https://benisenstein.me/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap">
  </head>
  <body class="flex flex-col">
    <main class="w-100vw flex justify-center flex-1 leading-relaxed tracking-wide text-stone-900">
        <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
  html, body {
    height: 100%;
  }
  :root {
    font-family: "Lato", sans-serif;
  }
</style>