---
import Footer from '../components/Footer.astro'
import aiHeadshot from '../images/ai_headshot.png'

interface Props {
    title: string,
    description: string,
}

const { title, description } = Astro.props
---
<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta name="title" content={title}>
    <meta property="og:title" content={title}>
    <meta property="twitter:title" content={title}>
    <meta name="author" content="Ben Isenstein">
    <meta name="description" content={description}>
    <meta property="og:description" content={description}>
    <meta property="twitter:description" content={description}>
    <meta property="og:locale" content="en_CA">
    <meta property="og:site_name" content="Ben Isenstein">
    <meta property="og:type" content="website">
    <meta property="og:image" content={`https://${import.meta.env.RAILWAY_PUBLIC_DOMAIN}${aiHeadshot.src}`}>
    <meta property="og:image:width" content={aiHeadshot.width.toString()}>
    <meta property="og:image:height" content={aiHeadshot.height.toString()}>
    <meta property="twitter:image" content={`https://${import.meta.env.RAILWAY_PUBLIC_DOMAIN}${aiHeadshot.src}`}>
    <meta property="og:url" content="https://www.benisenstein.me/">
    <meta property="twitter:url" content="https://www.benisenstein.me/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap">
  </head>
  <body class="flex flex-col">
    <main class="w-100vw flex justify-center flex-1 leading-relaxed tracking-wide text-stone-900">
        <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  html, body {
    height: 100%;
  }
  :root {
    font-family: "Lato", sans-serif;
  }

  @keyframes slide-enter {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: none;
    }
  }

  .slide-enter-content > * {
    --stagger: 0;
    --delay: 100ms;
    --start: 0ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
  }

  .slide-enter-content > *:nth-child(1) { --stagger: 1; }
  .slide-enter-content > *:nth-child(2) { --stagger: 2; }
  .slide-enter-content > *:nth-child(3) { --stagger: 3; }
  .slide-enter-content > *:nth-child(4) { --stagger: 4; }
  .slide-enter-content > *:nth-child(5) { --stagger: 5; }
  .slide-enter-content > *:nth-child(6) { --stagger: 6; }
  .slide-enter-content > *:nth-child(7) { --stagger: 7; }
  .slide-enter-content > *:nth-child(8) { --stagger: 8; }
  .slide-enter-content > *:nth-child(9) { --stagger: 9; }
  .slide-enter-content > *:nth-child(10) { --stagger: 10; }
  .slide-enter-content > *:nth-child(11) { --stagger: 11; }
  .slide-enter-content > *:nth-child(12) { --stagger: 12; }
  .slide-enter-content > *:nth-child(13) { --stagger: 13; }
  .slide-enter-content > *:nth-child(14) { --stagger: 14; }
  .slide-enter-content > *:nth-child(15) { --stagger: 15; }
  .slide-enter-content > *:nth-child(16) { --stagger: 16; }
  .slide-enter-content > *:nth-child(17) { --stagger: 17; }
  .slide-enter-content > *:nth-child(18) { --stagger: 18; }
  .slide-enter-content > *:nth-child(19) { --stagger: 19; }
  .slide-enter-content > *:nth-child(20) { --stagger: 20; }
  .slide-enter-content > *:nth-child(21) { --stagger: 21; }
  .slide-enter-content > *:nth-child(22) { --stagger: 22; }
  .slide-enter-content > *:nth-child(23) { --stagger: 23; }
  .slide-enter-content > *:nth-child(24) { --stagger: 24; }
  .slide-enter-content > *:nth-child(25) { --stagger: 25; }
  .slide-enter-content > *:nth-child(26) { --stagger: 26; }
  .slide-enter-content > *:nth-child(27) { --stagger: 27; }
  .slide-enter-content > *:nth-child(28) { --stagger: 28; }
  .slide-enter-content > *:nth-child(29) { --stagger: 29; }
  .slide-enter-content > *:nth-child(30) { --stagger: 30; }
</style>